extends ../layout
block content
  h1 Valoraci贸n de Practicas en Empresas
  form(method="post", action="/enviar_empresa")
    label Empresa : 
    input(type="text", name="emp", placeholder=" Nombre de la Empresa")
    br
    label Alumno : 
    input(type="text", name="alumno", placeholder=" Nombre del Alumno")
    br
    label Fecha de inicio : 
    input(type="date", name="fechainicio")
    br
    label Fecha de finalizaci贸n : 
    input(type="date", name="fechafinalizacion")
    br
    label Calificaci贸n :
    input(type="number", name="calificacion", min="0", max="10")
    br
    input(type="submit", value="Enviar empresa")
  ul
    -for (i in lista)
      li  Empresa: #{lista[i].emp}
      li  Alumno : #{lista[i].alumno}
      li  Fecha de Inicio : #{lista[i].fechainicio}
      li  Fecha de Finalizacion : #{lista[i].fechafinalizacion}
      li  Calificaci贸n : #{lista[i].calificacion}
      br		
